.asignacion {
  background-color: #e3f2fd;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  color: #263238;              
  font-size: 15px;
  line-height: 1.5;
}

.asignacion:hover {
  transform: translateY(-2px);
}

.asignacion-texto small {
  margin-top: 6px;
}

.asignacion-texto {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  word-break: break-word;
  font-family: inherit;
}

.asignacion-texto strong,
.asignacion-texto span,
.asignacion-texto small {
  display: block;
  margin-bottom: 4px;        /* Agrega espacio entre bloques */
}