* {
   font-family: 'Segoe UI', sans-serif; 
}

body {
  margin: 0;
  padding: 0;
}


h2 {
  margin-top: 1%;        
  margin-left: 20px;              
  font-size: 1.8rem;
  font-weight: 600;
  color: #263238;
}

.fas {
  color: #1976d2;
  margin-right: 6px;
  font-size: 1rem;
  vertical-align: middle;
}

