body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    min-height: 100vh;


}

.volver{
    position: absolute;
    text-decoration: none;
    top: 20%;
    left: 3%;
    
    color: blue;
    z-index: 2;
}

.flechabajo{
    position: absolute;
    top: 68%;
    left: 20%;
    width: 68px;
    height: 92px;
    z-index: 2;
}

.flecharriba{
    position: absolute;
    top: 69%;
    left: 4%;
    width: 68px;
    height: 92px;
    z-index: 2;
}


.mapa {
   
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 


}

.mapa + .mapa {
    margin-top: 5%; /* espacio entre las dos imágenes */
}



.mapa img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 1;
}

.marca-agua {
    position: absolute;
   
    top: 30px;
    left: 10px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    margin: 0;
    text-decoration: none;
    pointer-events: auto;
}

.aula {
    position: absolute;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 2;
}

/* Primer Piso */
.primer-piso .auditorio { top: 69%; left: 6%; }
.primer-piso .magna1 { top: 20%; left: 48%; }
.primer-piso .magna2 { top: 20%; left: 68%; }
.primer-piso .magna { top: 30%; left: 60%; }
.primer-piso .gabinete { top: 65%; left: 59%; }
.primer-piso .laboratorio { top: 44%; left: 89%; }

/* Segundo Piso */
.segundo-piso .aula1 { top: 22%; left: 40%; }
.segundo-piso .aula2 { top: 22%; left: 63%; }
.segundo-piso .aula12 { top: 31%; left: 50%; }
.segundo-piso .aula3 { top: 22%; left: 85%; }
.segundo-piso .aula4 { top: 68%; left: 85%; }
.segundo-piso .aula5 { top: 65%; left: 63%; }
.segundo-piso .aula45 { top: 57%; left: 50%; }
.segundo-piso .aula6 { top: 65%; left: 40%; } 